header > h1 {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 48px;
}
header > h1 > a {
    text-decoration: none;
    color: black;
}

main {
    width: 70%;

    position: relative;
    background: white;
    border: 1px solid gray;
    border-radius: 16px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.04);

    margin: 0 auto;
    margin-top: 48px;
    margin-bottom: 32px;

    display: flex;
    flex-direction: column;
}

main > article {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    /* border: 1px solid black; */

    &:hover {
        background: linear-gradient(142deg, rgba(204,218,140,1) 0%, rgba(198,219,116,0.8771551724137931) 35%, rgba(82,215,197,0.5818965517241379) 69%, rgba(0,255,189,0.5043103448275862) 94%);
    }
}

main > article.extra_edu > details > summary {
    margin: 5px;
}


main > article.project > details > summary {
    margin: 5px;
}

main > article.certificate > ul {
    list-style: none;
    margin: 0;
}

main > article.certificate > ul > li {
    display: inline-block;
    border: 1px solid black;
    border-radius: 10px;

    padding: 10px;
    margin: 5px;

    &:hover {
        background: gray;
        color: white;
    }
}